// Color
$bg-color: #effbff;

$gray-100: #767d90;
$gray-200: #18181b;
$gray-300: #212529;
$gray-900: #1c2436;

$indigo-100: #5e4ef2;

$blue-100: #3874f4;

$gradient-g1: linear-gradient(92deg, #3b97ec 0.67%, #7815f6 112.55%);
