.FooterSectionMobile {
  width: 100vw;
  padding-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
